@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}

header{
    height: 15vh;
    background-color: #FF69B4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.BoxLogo{
    //border: solid 2px red;
    width: 25vw;
    display: flex; 
    align-items: center;
    color: white;
    h1{
     font-size: 28px;
     font-weight: 400;
    }

}

nav{
    //border: solid 2px yellow;
    width: 40vw;
    ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
   a{
    color: white;
    font-weight: 400;
   }
    }
}

.Bloco1{
           
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h2{           
    font-size: 1.2rem;  
    font-family: "Noto Sans", serif;
    font-size: 1.4rem;  
    font-weight: 400;        
    width: 50vw;
    height: 50vh;
    padding: 20px;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    section{
    img{ 
    width: 35vw;
    height: 60vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    }
}

.Bloco2{
    
    background-color: #FF69B4;
    height: 60vh;
    color: #E4EEF1;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}

figure{  
    width: 40%;
    height: 80%;  
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    width: 50%;
    height: 80%;
    text-align: left;
    font-size: 1.2rem;  
    font-family: "Noto Sans", serif;
    font-size: 1.4rem;  
    font-weight: 400;
    display: flex;
    align-items: center;
}

.Bloco3{
 
    height: 60vh;
    background-color: #FFD9EC;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    img{
    width: 15vw;
    height: 30vh;                
    display: flex;
    align-items: center;           
 }
}

footer{
    
    background-color: #FF69B4;
    height: 30vh;
    color: #E4EEF1;
    font-size: 1.2rem;  
    font-family: "Noto Sans", serif;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .img1footer{
         
    height: 30vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

    .H3{

    height: 30vh;
    width: 50vw;
    font-size: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;               
    }

    .img2footer{
   
    height: 30vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}